<div *ngIf="cartItems.length >0">
    <table mat-table [dataSource]="cartItems" class="mat-elevation-z8 w-100">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Product Id </th>
            <td mat-cell *matCellDef="let element" style="width: 10%;"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef> Image </th>
            <td mat-cell *matCellDef="let element" style="width: 10%;">
                <img height="100px" width="100px" [src]="element.image" alt="" srcset="">
            </td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element" style="width: 10%;"> {{element.price | currency:'INR'}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <h3>
        Total Cart: {{totalCartPrice |currency: 'INR'}}
    </h3>
</div>
<p *ngIf="cartItems.length ==0" class="danger">Cart is Empty!</p>